@import url('https://fonts.cdnfonts.com/css/samsung-sans-4');
    
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    text-align:center;
}
h1{
    font-family:'samsung sans';
    font-size:30pt;
    margin-top:40px;
}
button{
    padding:10px 20px;
    background:gray;
    color:white;
    border:none;
    cursor:pointer;
    margin:40px 0;
    border-radius:10px;
}
.container{
    margin-bottom:2em;
}
.content{
    margin:auto;
    height:95px;
    width:500px;
    overflow:hidden;
    padding:10px 50px;
    transition: 1s;
}
.content p{
    font-family:'samsung sans';
    font-size:13pt;
}
.style:hover{
    overflow: hidden;
    border-radius:10px;
    padding:10px 50px;
    box-shadow: 10px 10px 20px rgba(36, 36, 36,0.3);
}
.mostrar{
    transition:1s;
    height:250px !important;
    border-radius:10px;
    padding:10px 50px;
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.1);
    
}
